* {
    /* background-color: bisque; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(97, 125, 116);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.home-container {
    text-align: center;
}

.shop {
    text-align: center;
}

.shop-container {
    background-color: blueviolet;
    height: 500px;
    width: 100%;
    display: grid;
}